<!doctype html>

<head>
	<title>comicD3</title>

	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="{{ url_for('static', filename='starvis.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script language="javascript" type="text/javascript">
	    
	</script>
</head>

<body onload="drawLinechart('{{ start['title'] }}', {{ start['stars'] }}, {{ start['id'] }}, {{ start['missing'] }});">
	<div id='vis'>
		<h1 id='linetitle'></h1>
		<div id='linechart'></div>
		<ul id='thumbnails'>
			<input type="text" placeholder='Enter title' id='titlebox' onkeyup="titlefilter(this)" />
			<input type="text" placeholder='Enter author' id='authorbox' onkeyup="authorfilter(this)" />
			<p></p>
			{% for thumbnail in thumbnails %}
				<li id="{{ thumbnail['id'] }}" class=''>
					<a href="http://comic.naver.com{{ thumbnail['href'] }}">{{ thumbnail['title'] }}</a>
					<a> by </a>
					<span>{{ thumbnail['author'] }}</span>
					<input class="visbutton" type="button" value="visualize" onclick="updateLinechart('{{ thumbnail['title'] }}', {{ thumbnail['stars'] }}, {{ thumbnail['id'] }}, {{ thumbnail['missing'] }});" />
				</li>
			{% endfor %}
		</ul>
	</div>
	<footer>
		<a href="https://raw.githubusercontent.com/dandelin/webtoonD3/master/LICENSE">License</span>
		<a> & </a>
		<a href="https://github.com/dandelin/webtoonD3">Github Repo</span>
	</footer>
</body>